body{
    background-color: #3D087B;
}
.clockimg{
    position: absolute;
    top: 34px;
    left: 124px;
}
.settime{
    background-color:#FFFFFF;
    display: inline-block;
    border-radius: 10px;
    width: 566px;
    height: 363px;
    position: absolute;
    top: 149px;
    left: 124px;
}
.settimelogo{
    width: 34px;
    height: 34px;
    
}
#settimelogo1{
    position: absolute;
    top: 32px;
    left: 20px;
}
#settimelogo2{
    position: absolute;
    top: 115px;
    left: 20px;
}
#settimelogo3{
    position: absolute;
    top: 202px;
    left: 20px;
}
#settimelogo4{
    position: absolute;
    top: 296px;
    left: 20px;
}
.instr{
    color: #3D087B;
    font-size: 18px;
}
.instr1{
    position: absolute;
    top: 38px;
    left: 157px;

}
.instr2{
    position: absolute;
    top: 116px;
    left: 157px;
}
.instr3{
    position: absolute;
    top: 201px;
    left: 157px;
}
.instr4{
    position: absolute;
    top: 296px;
    left: 157px;
}
.timeselect1{
    position: absolute;
    top: 34px;
    left: 334px;
    padding: 7px;
    width: 181px;
}
.timeselect2{
    position: absolute;
    top: 110px;
    left: 334px;
    padding: 7px;
    width: 181px;
}
.timeselect3{
    position: absolute;
    top: 194px;
    left: 334px;
    padding: 7px;
    width: 181px;
}
.timeselect4{
    position: absolute;
    top: 289px;
    left: 334px;
    padding: 7px;
    width: 181px;
}
.time{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    width: 536px;
    height: 130px;
    position: absolute;
    top: 42px;
    left: 706px;
}
.texttime{
    font: normal normal 600 20px/32px Manrope;
    color: #3D087B;
    position: relative;
    top: 53px;
}
.dot
{
    width: 4px;
    height: 22px;
    size: 7px;
}
.dot1{
    
    position: absolute;
    top: 47px;
    left: 196px;
}
.dot2{
    
    position: absolute;
    top: 47px;
    left: 308px;
}
.hrs{
    background-image: url(./media/timeline.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
}
.mins{
    background-image: url(./media/timeline.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
}
.secs{
    background-image: url(./media/timeline.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
}
.M{
    background-image: url(./media/AM_svg.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
}
.wishes{
    background-color: #8A11BF;
    color: #FFFFFF;
    width: 566px;
    height: 77px;
    ;
    border-radius: 10px;
    font-size: 27px;
    text-align: left;
    position: absolute;
    top: 527px;
    left: 124px;
    
}
.texttime{
    font: normal normal 600 20px/32px Manrope;
    color: #3D087B;
    position: relative;
    top: 50px;

}
.advice{
    color: #8E53F0;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    
    font-weight: 900;
    font-size:20px;
    background-color: #FFFFFF;
    width: 536px;
    height: 118px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 212px;
    left: 706px;
    text-transform: uppercase;
}
.timings{
    background-color: #8A11BF ;
    color: #F25CFE;
    width: 253px;;
    height: 117px;
    text-align: left;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 615px;
    left: 437px;

}
.btn{
    width: 299px;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(113deg,#6E54EC,#CB52F8, #FC5EFF, #F1A7C5);
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 624px;
    left: 124px;
}
.image{
    position: absolute;
    top: 345px;
    left: 707px;
    width: 536px;
    height: 341px;
    border-radius: 10px;
    background-image: url(./media/Component\ 30\ –\ 1.jpg);
}